{
  "presets": ["env", "react"],
  "env": {
    "development": {
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": true
          }
        ]
      ]
    }
  }
}
